body {
    background-color: #FFF;
}

a {
    color: #CC0000;
}

a:hover, a:focus {
    text-decoration: none;
}

p {
    font-size: 120%;
    line-height: 1.7;
}

#main p {
    background-color: #FFFEE1;
}

strong {
    font-weight: bold;
}   

h1 em {
    font-family: 'Droid Sans';
    font-size: 250%;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    color: #000;
}

h1 {
    margin-bottom: 40px;
    font-size: 150%;
    color: #666;
}

#main, #footer {
    width: 55em;
    margin: 0 auto;
    position: relative;
    padding: 50px 0;
}

#footer p {
    font-size: 100%;
    color: #666;
}

#footer a {
    color: #666;
}

#mc_embed_signup {
    margin-top: 45px;
    background-color: #ECECEC;
    border-width: 1px 0;
    border-style: solid;
    border-color: #CCC;
    text-align: center;
    padding: 20px 100px 40px;
    position: relative;
}

#mc_embed_signup div {
    float: left;
}

#mce-EMAIL {
    width: 415px;
    padding: 4px;
}

#mc-embedded-subscribe {
    margin: 5px 10px;
}

.mc-field-group label {
    position: absolute;
    top: 55px;
    left: 100px;
    color: #999;
}

div.mce_inline_error {
    position: absolute;
    top: 55px;
    left: 398px;
    color: #000;
    font-weight: bold;
}

.mc-sub-badge10 {
    position: absolute;
    top: 60px;
    right: 10px;
}

.mc-sub-badge10 li.mc-subscribers {
    padding: 6px 5px 5px 0 !important;
}

.mc-sub-badge10 li.mc-power {
    text-align: right;
    margin-top: 5px;
}
